%br
%br
%br
%br
%br
%br
%br
%br

- @posts.each do |post|
  .user-list
    .user-list__element=post.price
    .user-list__element=post.category
    .user-list__element=post.memo
    .user-list__element=post.created_at.strftime("%F")
    %br