.content
  .left
    .title.person
      = current_user.name
      の支出
    .posts
      - @posts.each do |post|
        .post
          .post__top= current_user.name
          .post__element.icon
            %i.material-icons.large-size
              =post.category
          .post__element.amount¥
          .post__element.pay
            = post.price.to_s(:delimited)
          .post__element.face
            %i.material-icons.large-size
              =post.mental
          .post__element.date= post.created_at.strftime("%F")
