.content
  =render partial:'posts/sidebar'

  .right
    .title.detail 自分の出費
    .posts
      .total-yen="累計 ¥ "+@sum.to_s(:delimited)
      .details
        -@my_expense.each do |category , name, price|
          .details--material
            %i.material-icons.large-size.icon=category
            .details--material--font=name
            .details--material--price="¥"+price.to_s(:delimited)
      .total-yen.detail
        = link_to "詳細を見る" , "/users", method: :get, class:".btn" ,style: "color:black"

      .line
      .total-yen.this_month="今月の出費 ¥ "+@this_month_sum.to_s(:delimited)
      .total-yen.last_month="先月の出費 ¥ "+@last_month_sum.to_s(:delimited)


  .my-detail
    .pie_chart=pie_chart @data_category , width: "450px", height: "300px", thousands: ","
    .line    
    .bar_chart=bar_chart @data_mental , width: "450px", height: "300px"
    %i.material-icons.show__blue sentiment_very_satisfied
    sentiment_very_satisfied
    %i.material-icons.show__green sentiment_neutral
    sentiment_neutral
    %i.material-icons.show__red sentiment_very_dissatisfied
    sentiment_very_dissatisfied
