.account-page__inner.clearfix
  %p削除しました
  .btn-lists
    %a.btn-lists__list{href: "/"} トップページへ戻る
    %a.btn-lists__list{href: "/posts/new"} 入力する
    %a.btn-lists__list{href: "/users/#{current_user.id}"} マイページ