<div class="content">
  <div class="left">
    <div class="title person">自分の支出</div>
    <div class="posts">
        <div class="post">
          <div class="post__element icon">アイコン</div>
          <div class="post__element pay">¥1,000</div>
          <div class="post__element face">(@_@)</div>
          <div class="post__element date">2019/07/27</div>
        </div>  
        <div class="post">
          <div class="post__element icon">アイコン</div>
          <div class="post__element pay">¥1,000</div>
          <div class="post__element face">(@_@)</div>
          <div class="post__element date">2019/07/27</div>
        </div>
    </div>
  </div>

  <div class="center">
  <div class="title all">みんなの支出</div>  
  <div class="posts">
        <div class="post">
          <div class="post__element icon">アイコン</div>
          <div class="post__element pay">¥1,000</div>
          <div class="post__element face">(@_@)</div>
          <div class="post__element date">2019/07/27</div>
        </div>  
        <div class="post">
          <div class="post__element icon">アイコン</div>
          <div class="post__element pay">¥1,000</div>
          <div class="post__element face">(@_@)</div>
          <div class="post__element date">2019/07/27</div>
        </div>
    </div>
  </div>

  <div class="right">
  <div class="title detail">詳細</div>
    <div class="posts">
      <div class="this-month">今月の出費
        <div class="this-month__yen">¥
          <div class="this-month__costs">10,000</div>
        </div>
      </div>
      <div class="line"></div>
    </div>

  </div>
</div>
