h2{
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;

}

.form-group{
  font-size: 20px;
  text-align: center;
  margin: 10 auto;
  background-color: white;
  &__price{
    padding: 20px 0;
    height: 40px;
    #post_price{
      border: solid 1px gray;
    }
  }
  &__category{
    padding: 20px 0;
  }
  &__mental{
    padding: 20px 0;
    border-top: solid 1px gray;

  }
  &__memo{
    padding: 20px 0;
  }
}
.material-icons.large-size.blue{
  color: blue;
}
.material-icons.large-size.green{
  color: rgb(73, 179, 47);
}
.material-icons.large-size.red{
  color: rgba(241, 4, 44, 0.863);
}