@media(max-width:670px){
  .account-page__inner.clearfix{
    width: 100%;
    height: 1500px;
  }
}

.account-page__inner.clearfix{
  padding-top: 130px;
  background-color: rgb(253, 223, 199);
  height: 700px;
  width: 80%;
  margin: auto;
  // 新規アカウント作成
  .login-box{
    float: left;
    // padding-left: 300px;
    width: 50%;
    h2 {
        font-size: 40px;
        margin: 50px 0;
        text-align: center;
    }
    li{
      list-style: none;
      margin-bottom: 50px;
      font-size: 25px;
    }
    // ログインボタン
    a{
      font-size: 25px;
      text-decoration: none;
      background-color: rgb(214, 222, 226);
      color: black;
      border-radius :6%;
      box-shadow: 0 0 8px gray;
      padding: 30px 50px;
      &:hover{
        color: white;
        background-color: gray;
      }
      &.post{
        background-color: rgb(212, 209, 209);
        box-shadow: none;
      }
  }
  }
  // 入力項目一覧
  .new_user{
    .field {
      margin-bottom: 30px;
      font-size:18px;
    
      .input{
        width:300px;
        height:40px;
        text-align: center;
        background-color: white;
      }
      .avatar{
        width:300px;
        text-align: center;
        background-color: white;
        height: 30px;
        padding-top: 15px;
      }
    
      .field-label{
        padding: 10px 0;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 200;
      }
    }
    .actions{
      margin-top: 30px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      .createuser{
        box-shadow: 0 0 8px gray;
        width:270px;
        height: 60px;
        background-color: #E67A7A;
        z-index: 1;
        color: black;
        border-radius :6%;
        margin: 10px;
        line-height: 60px;
        text-decoration:none;
        &:hover{
          color: white;
          background-color: #ccc;
        }
        a{
          list-style: none;
          text-decoration:none;
        }
      }
    }
  }
}

.user-list{
  width:60%;
  text-align: center;
  background-color: whitesmoke;
  margin: 3px auto;
  padding: 15px 0;
  margin: 2em 0 2em 18em;
  font-weight: bold;
  border: solid 1.3px gray;
  &__element{
    display: inline-block;
    padding:0 10px;
    a{
      color: black;
      transition: all 1s linear 0s;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover{
        transform: translateY(-0.3875em);
        color: blue;
        font-weight: bold;
      }
    }
  }
}

.pie_chart{
  padding-bottom: 20px;
  width: 50px;
}
